.App {
    display: flex;

    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;

    width: 100vw;
    height: 100vh;

    &__sidebar {
        width: 20%;
        min-width: 200px;

        flex: 0 0 auto;

        border-right: 1px solid $border-color;

        overflow: auto;
    }

    &__content {
        flex: 1 1 100%;
    }
}
