.Playlist {
    display: flex;
    flex-direction: column;

    height: 100%;

    &__scroller {
        flex: 1 1 100%;
        overflow: auto;
    }

    &__footer {
        padding: .625em;

        text-align: center;
    }

    &__items {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: stretch;
    }
}
