.Playlist {
    &__footer {
        padding: .625em;

        text-align: center;
    }

    &__items {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: stretch;
    }
}
