.PlaylistHeader {
    padding: 1.2rem 1rem;
    border-bottom: 1px solid $border-color;

    background-color: $youtube-white;

    @supports (backdrop-filter: blur(3px)) {
        backdrop-filter: blur(3px);
        background-color: rgba($youtube-white, .8);
    }

    &__wrapper {
        z-index: 1;
    }

    &__title {
        font-size: 1.8em;
    }
}
