.VideoItem {
    display: grid;
    grid-template-columns: 180px auto;
    grid-template-rows: auto auto;
    grid-template-areas: "image title" "image description";
    grid-column-gap: .625em;

    padding: .375em .625em;
    border-bottom: 1px solid $border-color;

    &__image {
        &:before {
            display: block;
            content: '';
            padding-top: 55%; //~16:9
        }

        width: 100%;

        background-position: center center;
        background-size: cover;

        grid-area: image;
        align-self: start;

        border: 1px solid rgba(black, .2);
    }

    &__title {
        grid-area: title;
        margin: 0;
        padding: 0;
        font-size: 1.6em;
    }

    &__description {
        grid-area: description;
        margin: 0;
        padding: 0;

        font-size: .9em;
        color: $text-muted;
    }
}
